table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    border-collapse:collapse;
    }
td { 
    border-width:1px;
    border-style:solid; 
    border-color:black;
    border-collapse:collapse;
    }
th { 
    border-width:1px;
    border-style:solid; 
    border-color:black;
    border-collapse:collapse;
    }
.div-center { 
    text-align: center }
}
    